    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand text-black fw-bold " href=""> The Freelance Hub </a>
        <div class=" navbar rounded pl-4 ml-auto">
            <div class="form-inline my-2 my-lg-0 ml-auto" >
                <ul class="navbar-nav ml-auto">
                    <ul class="nav-item text-black">
                        <a class="nav-link text-black fw-bold" href="#" >
                        View All Post
                        </a>
                    </ul>
                    <ul class="nav-item text-black">
                        <a class="nav-link  text-black fw-bold" href="<%=new_post_path(current_user)%>">
                        Create
                        </a>
                    </ul>
                    <ul class="nav-item text-black">
                        <a class="nav-link text-black fw-bold" href="<%= user_path(current_user.id)%>">
                        <%= current_user.username %>
                        </a>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>